<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="node_modules\bootstrap\dist\css\bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>
	<body ng-controller="StoreController as store">
		<h1>Angular Demo</h1>
		<hr />
		<!-- Products Container -->
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products" ng-hide="product.soldOut">
				<!-- Product Container -->
				<h3 ng-include="'product-title.html'"></h3>
				<!-- Image Gallery -->
				<div class="gallery"" ng-show="product.images.length" ng-controller="GalleryController as gallery">
					<!-- <img ng-src="{{product.images[0].full}}" width="100px" height="100px" />-->
					<img ng-src="{{product.images[gallery.current].full}}" width="100px" height="100px" />
					<ul class="list-inline thumbs">
						<li class="thumbnail" ng-repeat="image in product.images">
							<img ng-src="{{image.thumb}}" width="50px" height="50px" ng-click="gallery.setCurrent($index)"/>
						</li>
					</ul>
				</div>
				<section class="tab"" ng-controller="TabController as tab">
					<ul class="nav nav-pills">
						<li ng-class="{ active:tab.isSelected(1) }">
							<a href ng-click="tab.selectTab(1)">Description</a>
						</li>
						<li ng-class="{ active:tab.isSelected(2) }">
							<a href ng-click="tab.selectTab(2)">Specifications</a>
						</li>
						<li ng-class="{ active:tab.isSelected(3) }">
							<a href ng-click="tab.selectTab(3)">Reviews</a>
						</li>
					</ul>
					<div ng-show="tab.isSelected(1)">
						<h4>Description</h4>
						<p>{{product.description}}</p>
					</div>
					<div ng-show="tab.isSelected(2)">
						<h4>Specifications</h4>
						<blockquote>None yet</blockquote>
					</div>
					
					<!-- Reviews Tab Content -->
					<div ng-show="tab.isSelected(3)">
						<!-- Product Review List -->
						<ul>
							<h4>Reviews</h4>
							<li ng-repeat="review in product.reviews">
								<blockquote>
									<strong>Stars: {{review.stars}}</strong>
									{{review.body}}
									<cite class="clearfix">by: {{review.author}} on {{review.createdOn | date}}</cite>
								</blockquote>
							</li>
						</ul>
						
						<!-- Review Form -->
						<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
												ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
												novalidate>
							<!-- Live Preview -->
							<blockquote>
								<strong>Stars: {{reviewCtrl.review.stars}}</strong>
								{{reviewCtrl.review.body}}
								<cite class="clearfix">by: {{reviewCtrl.review.author}}</cite>
							</blockquote>
							
							<!-- Review Form -->
							<h4>Submit a Review</h4>
							<fieldset class="form-group">
								<select class="form-control" ng-model="reviewCtrl.review.stars" title="Stars" required>
									<option value="">Rate the Product</option>
									<option value="5">5 star</option>
									<option value="4">4 stars</option>
									<option value="3">3 stars</option>
									<option value="2">2 stars</option>
									<option value="1">1 stars</option>
								</select>
							</fieldset>
							<fieldset class="form-group">
								<textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body" required></textarea>
							</fieldset>
							<fieldset class="form-group">
								<input class="form-control" placeholder="jimmydean@example.com" ng-model="reviewCtrl.review.author" type="email" required />	
							</fieldset>
							<div>
								reviewForm is {{reviewForm.$valid}}
							</div>
							<fieldset class="form-group">
								<input class="btn btn-primary pull-right" type="submit" value="Submit Review" />								
							</fieldset>
						</form>
					</div>
				</section>
			</li>
		</ul>
		
		<script src="node_modules\angular\angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>